body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #936262;

}
.container{
  height: 100vh;
  width: 100vw;
}
#nav{
  background-color:#333;
  color: white;
  position: sticky;
  top: 0;
}
#nav a{
  color: white;
  text-decoration: none;
  
}
.backimg{
  height: 49rem;
}
.cards-button {
  border-radius: 0.5rem;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: #2a2a2a;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: underline;
}

button:hover {
  background-color: #1A1F36;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

button:focus {
  outline: none;
}

button {
  display: inline-block;
  color: white;
  padding: 0.5rem;
  margin-top: 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.div1{
  display: flex;
  justify-content: flex-end;
  background-color: #ffffff;
  margin-top: 1rem;
}
.heading2{
 font-size: 2.5rem;
 margin-top:1rem;
}
.div1>img{
 margin-top:0px;
 padding: 0px;
}
.heading1{
  margin-top: 2rem;
  margin-left:4rem;

}
.heading2{
 margin-top: 4rem;
 margin-left: 4rem;
 font-size: 4rem;
 font-weight:600;
}
.divcard{
 width:20rem;
 margin-top: 3rem;
 margin-left: 8rem ;
 padding: 10px;
 align-items: center;
 height: 10rem;
 padding: 1rem 2rem;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 width: 22rem;
 background: linear-gradient(to right, #a1bddf, #2b6bba);
 border-radius: 0.9rem;
 text-align: center;
 transition: transform 0.3s ease, box-shadow 0.3s ease;
 gap: 20px;
  
}
.divcard:hover{
  box-shadow: 0 0 20px rgba(26,31,54,0.8),0 0 30px rgba(26,31,54,0.6);
}
.imgsection2{
 height: 4rem;
 width: 4rem;
 margin: 2rem;
 margin-left: 5.5rem;
}
.section2{
   background-color:white;
   display: flex;
}
.section2div{
 margin: 2rem;
 padding: 20px;
 text-align: center;
 border-radius: 1rem;
 color: #1A1F36;
 transition: box-shadow 0.5s ease-in-out;

}
.section2div:hover{
  box-shadow: 0 0 10px rgba(108, 116, 154, 0.8),0 0 30px rgba(26,31,54,0.6);
}
#testheading{
  margin-bottom: 2rem;
   text-align: center;
}

.footer {
  color: #FFFFFF;
  /* height: 6.5vh; */
  background-color: #1A1F36;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  bottom: 0;
}


@media (max-width:763px) {
  .i {
    height: 30px;
  }

  .Main {
    height: auto;
    flex-direction: column;
    text-align: center;
  }

  .candidates,
  .company {
    width: 90%;
    height: 40%;
  }

  .cards-button {
    display: flex;
    justify-content: space-evenly;
    transform: scale(0.9);
  }

  .header {
    flex-direction: column;
  }
  .main-image{
    display: none;
  }
  .tagline{
    font-size: xx-large;
    padding-top: 1px;
    padding-bottom: 1px;
  }


}